@font-face {
  font-family: airbnb;
  src: url("./assest/fonts/Roboto-Medium.ttf");
}

/* @font-face {
  font-family: eksel;
  src: url("./assets/fonts/Eksell\ Display\ Medium.otf");
} */

:root {
  --blue: #3685fb;
  --grey: #697687;
  --blue-dark: #002248;
  --white: #fff;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: airbnb, serif;
  background: #f8f8f8;
  overflow-x: hidden;
}

input,
button,
input:focus,
button:focus {
  outline: 0px solid transparent;
  border: none;
}

.container {
  padding: 20px 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logotip {
  margin-left: 8px;
  padding-top: 10px;
}
.social-media {
  display: flex;
  gap: 8px;
  padding-left: 5px;
  padding-top: 5px;
}
.navigation {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  gap: 15px;
  padding: 10px 1px;
  color: var(--grey);
}

.link::after {
  width: 0;
  height: 2px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 0;
}

.link:hover {
  color: var(--blue);
}
.unversal-button {
  width: 140px;
  margin-right: 10px;
  height: 30px;
  font-size: 12px;
  background-color: var(--blue);
  color: var(--white);
}
.contact {
  margin-left: 15px;
  display: flex;
  gap: 3px;
  align-items: center;
  margin-top: -5px;
  color: var(--blue-dark);
}
.contact > span {
  align-items: center;
}
.location1 {
  display: flex;
  margin-left: 8px;
  align-items: center;
}
.location1 > p {
  font-size: 14px;
  width: 135px;
}
.date {
  display: flex;
  align-items: center;
}
.date > p {
  font-size: 14px;
  width: 145px;
}
.phone {
  display: flex;
  align-items: center;
}
.phone > p {
  font-size: 14px;
  width: 157px;
}

.header {
  /* background-image: url("./assest/images/headerBakground.jpg");
  width: 1200px;
  height: 628px;
  margin-left: 50px;
  background-repeat: no-repeat; */
  background-image: url("./assest/images/headerBakground.jpg");
  width: 1200px;
  height: 628px;
  margin-top: 50px;
  margin-left: 50px;
  background-repeat: no-repeat;
}
.section-title-box {
  max-width: 523px;
  margin-top: -580px;
  margin-left: 20px;
}

.section-title-box > h2 {
  color: #1a3444;
  font-size: 35px;
  width: 300px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 104.188%; */
}

.section-title-box > span {
  margin-bottom: 30px;
  color: #4e4e4e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-title-box > p {
  padding: 20px 0 49px 0;
  color: #6f6f6f;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 360px;
  line-height: normal;
}
.universal-button {
  width: 250px;
  height: 40px;
  font-size: 16px;
  background-color: var(--blue);
  color: var(--white);
}
.about {
  display: flex;
  gap: 20px;
  margin-left: 300px;
}
.doctor {
  padding: 10px 10px;
  justify-content: center;
  width: 300px;
  height: 70px;
  background-color: rgba(103, 101, 101, 0);
  backdrop-filter: blur(10px);
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.doctor > p {
  justify-content: center;
  width: 290px;
}
.chair {
  padding: 10px 10px;
  justify-content: center;
  width: 300px;
  height: 70px;
  background-color: rgba(80, 78, 78, 0);
  backdrop-filter: blur(10px);
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.chair > p {
  justify-content: center;
  width: 185px;
}
.location {
  padding: 10px 10px;
  justify-content: center;
  width: 300px;
  height: 70px;
  background-color: inherit;
  backdrop-filter: blur(10px);
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.location > p {
  justify-content: center;
  width: 185px;
}
.text {
  margin-top: 50px;
  margin-left: 15px;
}
.text > h2 {
  color: var(--blue-dark);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text > p {
  color: var(--grey);
  width: 439px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.table {
  margin: 50px auto;
  margin-right: 170px;
}
.table th {
  border: 40px solid black;
  border: none;
  background-color: #fbfbfb;
  width: 200px;
  height: 150px;
  color: var(--white);
  font-size: 24px;
}
.table th > span {
  color: var(--blue-dark);
  font-size: 12px;
}
.Teeth-button :hover {
  background-color: #3c86f6;
}
.about-us {
  margin-left: 50px;
  display: flex;
  gap: 70px;
  align-items: center;
}

.text1 {
  width: 300px;
  height: 200px;
}
.text1 > span {
  font-size: 20px;
  color: var(--blue);
}
.text1 > h4 {
  font-size: 20px;
  width: 200px;
}
.text1 > p {
  color: var(--grey);
  font-size: 18px;
  width: 330px;
}
.title {
  margin-left: 30px;
  padding: 50px 5px;
  color: var(--blue-dark);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
